body{
    margin: 0;
    padding: 0;
    text-align: center;
    color:white;
    background-color:rgb(85,85,85);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    
}
h1{
    padding: 15px;
    border-bottom: solid 2.5px rgb(222,222,222);
    background-color: black;
}
#under{
    font-style: italic;
    padding: 10px;
    letter-spacing: 1.5px;
    color: rgb(30,30,30);
    font-size: 18px;
}
#form{
    margin-left: 6rem;
    padding: 10px;
    font-size: 1rem;
    text-align: left;
}
label{letter-spacing: 1.3px;font-size: 16px;}
#hr{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 25vh;
    justify-content: center;
}
#submit{
    width:150px;
    margin-top: 50px;
    padding:3px 8px;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    border:unset;
}
#submit:hover{opacity: 0.6}

#hr1{
    width: 35%;
    height:0px;
    margin-left:0;
    margin-right: 5px;
}
#hr2{
    width:35%;
    height:0px;
    margin-left: 5px;
    margin-right: 0;
}
span{
    font-size: 0.9rem;
}
#label1{
    margin-top: 7vh
}
    
#label2{
    margin-top: 10vh;


}
#username{
    margin-top: 10px;
    width:350px;
    padding: 0.2em;
    height: 30px;
    font-size: 15px;
    border:0.5px solid gray;
}
#password{
    margin-top: 10px;
    padding: 0.1em;
    font-size: 15px;
    height: 30px;
    width: 350px;
    border:0.5px solid gray;
}

a:hover{
    color: rgb(153, 35, 15);
}
@media(max-width : 900px){
    #submit{width: 100px}
    #username{ width: 300px ; font-size: 14px;height: 28px;}
    #password{ width: 300px ;font-size: 13px;height: 25px;}
    #form{margin-left: 3rem;text-align: left}
}
@media(max-width:600px){
    #submit{width: 30%}
    #username{ width: 50% ; font-size: 14px;height: 28px;}
    #password{ width: 50% ;font-size: 13px;height: 25px;}
    #form{margin-left: unset;text-align: center}
}
#username:hover{
        background-color: rgb(230,230,240);
}
#password:hover{
    background-color: rgb(230,230,240);
}
